ul {
  list-style: none;
  display: block;
}

.list-items {
  float: left;
  background: #e5e5e5;
  font-size: 16px;
  height: 16px;
  width: auto;
  padding: 4px 12px;
  color: #6070ff;
  font-weight: 500px;
  border: 1px solid #fff;
  border-radius: 8px;
  margin: 10px;
}
