@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  background-color: rgb(241, 241, 241);
}

#toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c3a39;
  width: 375px;
  height: 44px;
  margin: 0;
}

#top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#heading {
  font-family: Roboto, sans-serif, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: #fff;
  margin: 10px 10px 10px 10px;
}

#button-holder {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
}

#button {
  width: 24px;
  height: 24px;
  padding-top: 3px;
  padding-right: 5px;
}

#content {
  display: grid;
  grid-template-rows: 500px 950px 2600px 1500px;
  width: 375px;
  background: #1c1a19;
  margin: 0;
  position: relative;
  box-shadow: 10px 14px 20px 1px #8a8989;
}

#container-1 {
  margin: 0; 
}

#headline {
  width: 327px;
  height: 124px;
  margin: 0 0 0 20px;
  font-family: 'Crete Round', sans-serif, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  color: #ff6b00;
  padding-top: 60px;
}

#title-line {
  width: 327px;
  height: 27px;
  margin-top: 10px;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  display: flex;
  align-items: center;
}

#para {
  width: 327px;
  height: 123px;
  margin-left: 20px;
  margin-top: 0;
  font-family: 'Poppins', sans-serif, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.socials-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 25px;
  list-style: none;
}

#bg-img {
  width: 140px;
  height: 340px;
  position: absolute;
  left: 62.67%;
  top: 6.9%;
  bottom: 1.8%;
}

#container-2 {
  list-style: none;
}

.works {
  margin-top: 72px;
  width: 375px;
  background-color: #fff;
}

#header-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 327px;
  height: 83px;
  margin-top: 60px;
  font-size: 40px;
  font-family: 'Crete Round', sans-serif, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
  line-height: 52px;
  padding-top: 70px;
  padding-left: 18px;
}

#line {
  width: 327px;
  margin-bottom: 50px;
}

#gymfit-container {
  width: 327px;
  height: 237px;
}

#gymfit-img {
  width: 327px;
  height: 237px;
  padding-left: 24px;
}

#header-3 {
  width: 327px;
  height: 36px;
  font-family: 'Crete Round', sans-serif, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  padding-left: 24px;
}

#stories-para {
  width: 327px;
  height: 147px;
  font-family: 'Inter', sans-serif, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
  font-style: normal;
  padding-left: 24px;
}

.language {
  width: 297px;
  height: 40px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 24px;
  gap: 12px;
  text-align: center;
}

.btn button {
  width: auto;
  font-family: 'Inter', sans-serif, 'Times New Roman', Times, serif;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  background-color: #fff;
  border: 1px solid #8993A4;
  height: 32px;
}

#btn-container {
  width: 124px;
  height: 48px;
  padding-left: 24px;
  margin: 0;
}

#btn {
  width: 100px;
  height: 40px;
  font-family: 'Inter', sans-serif, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #fff;
  border: none;
  background-color: #ff6b00;
}

#projects-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  gap: 30px;
}

.projects {
  width: 327px;
  height: 386px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(image_processing20200427-30692-7af91d.png);
  background-image: url('images/project-bg.png');
}

.header-4 {
  width: 295px;
  height: 81px;
  font-family: 'Crete Round', sans-serif, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  padding-top: 40px;
  padding-left: 24px;
  margin-top: 40px;
  margin-bottom: 0;
}

.project-details {
  width: 295px;
  height: 87px;
  font-family: 'Inter', sans-serif, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-left: 24px;
  margin-top: 10px;
}

.btn-2 button {
  background: rgba(255, 255, 255, 0.24);
  width: auto;
  font-family: 'Inter', sans-serif, 'Times New Roman', Times, serif;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.24);
  border: none;
  height: 32px;
}

.btn-3 {
  width: 327px;
  height: 48px;
  margin-top: 25px;
  border: none;
  color: #fff;
  background-color: #ff6b00;
}

